.logo
  float: left
  padding: 0.5rem 1.8125rem

ul
  list-style: none

.pc-nav .nav-item
  margin: 0
  text-align: center
  display: inline-block
  width: 90%

.pc-nav .nav-item li
  display: inline-block
  margin-right: 5rem
  padding: 0.5rem 1.8125rem
  cursor: pointer

.pc-nav
  padding: 1.375rem 2.1875rem
  border-bottom: 1px solid #fff
  position: fixed
  top: 0
  left: 0
  right: 0
  background-color: rgba(255,255,255,0)
  color: #fff
  font-size: 1.25rem
  z-index: 2

.pc-nav .link-effect
  border: 1px solid #fff
  border-radius: 0.5rem

.nav-colored
  transition: background-color 0.5s ease
  background-color: rgba(0,0,0,0.54)

.home-icon
  text-align: right
  color: #ffffff
  font-size: 20px!important
  padding-top: 15px
  padding-right: 15px

.mobile-head
  background-color: #000000
  color: #ffffff
  padding: 15px
  display: none

.phone-number
  float: right

.icon-phone
  font-size: 20px!important
  vertical-align: middle

.phone-number a
  color: #ffffff
@media (max-width: 1300px)

  .pc-nav
    display: none

  .mobile-head
    display: block
