.order-container
  padding: 6.875rem 8.5rem
  display: flex
  align-items: center
  justify-content: center

.order-intro
  text-align: left
  display: inline-block
  flex: 1

.order-img
  text-align: right
  flex: 1

.order-img img
  width: 100%
  padding: 6.25rem

.order-container .order-title
  font-size: 3.375rem
  margin-bottom: 2.9375rem

.order-intro p
  font-size: 1.25rem
  color: #7e7e7e

.sub-title
  font-size: 1.875rem


@media (max-width: 1300px)
  .order-container
    padding: 4.375rem 5.625rem

  .order-img img
    padding: 4.25rem

@media (max-width: 1300px)
  .order-img img
    padding: 3.25rem

@media (max-width: 768px)
  .order-container
    padding: 3.375rem 4.625rem

  .order-container .order-title
    font-size: 1.875rem
    margin-bottom: 10px

  .sub-title
    font-size: 23px

  .order-intro p
    font-size: 18px

  .order-img img
    padding: 1.25rem

@media (max-width: 415px)
  .order-container
    padding: 20px
    display: block

  .order-img img
    width: 80%

  .order-img
    text-align: center

  .order-container .order-title
    font-size: 23px
    margin-bottom: 10px

  .sub-title
    font-size: 18px

  .order-intro p
    font-size: 15px

@media (max-width: 415px)
  .intro-title
    font-size: 17px

  .ad-intro p
    font-size: 15px
