.order-container
  padding: 6.875rem 8.5rem
  display: flex
  align-items: center
  justify-content: center

.order-intro
  text-align: left
  display: inline-block
  flex: 1

.order-img
  text-align: right
  flex: 1

.order-container .order-title
  font-size: 3.375rem
  margin-bottom: 2.9375rem

.order-intro p
  font-size: 1.25rem
  color: #7e7e7e

.sub-title
  font-size: 1.875rem
