.ad-container
  background-color: #bde6f8
  padding: 6.875rem 8.5rem
  display: flex
  align-items: center
  justify-content: center

.ad-intro
  text-align: left
  display: inline-block
  flex: 1

.ad-img
  text-align: right
  flex: 1

.intro-title
  font-size: 48px

.intro-title
  color: #ffffff

.ad-intro p
  color: #ffffff
  font-size: 36px

.ad-img img
  width: 80%

@media (max-width: 1300px)
  .ad-container
    padding: 4.375rem 5.625rem

@media (max-width: 768px)
  .intro-title
    font-size: 28px

  .ad-intro p
    font-size: 20px

  .ad-img img
    width: 95%
@media (max-width: 415px)
  .ad-container
    padding: 20px

  .intro-title
    font-size: 20px

  .ad-intro p
    font-size: 16px

@media (max-width: 415px)
  .intro-title
    font-size: 17px

  .ad-intro p
    font-size: 15px
