.ad-container
  background-color: #bde6f8
  padding: 110px 136px
  display: flex
  align-items: center
  justify-content: center

.ad-intro
  text-align: left
  display: inline-block
  flex: 1

.ad-img
  text-align: right
  flex: 1

.intro-title
  font-size: 48px

.intro-title
  color: #ffffff

.ad-intro p
  color: #ffffff
  font-size: 36px
