.home-bg
  width: 100%
  height: 100vh
  background-image: linear-gradient(to bottom, rgba(113, 199, 224, 0.31), #d8777b), url('../../../images/bannerImg.jpeg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  text-align: center
  padding-top: 7.25rem

.medel-img
  width: 30%
  margin-bottom: 3.125rem

.home-bg .title
  font-size: 2.25rem
  color: #ffffff
  line-height: 1.8

.go-btn
  margin-top: 0.625rem
  padding: 0.25rem 4.8125rem
  border-radius: 0.5rem
  font-size: 1.875rem
  color: #ffffff
  background-color: #71c7e0
  border: none
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5)
  outline: none
  cursor: pointer

.mb-menu
  display: none
  border-bottom: 1px solid #E8E8E8

.menu-item
  flex: 1
  text-align: center

.menu-item .title
  margin-top: 5px
  margin-bottom: 10px

.icon-web-build
  font-size: 40px!important
  margin-top: 10px
  color: #008cee

.icon-ad-track
  font-size: 40px!important
  margin-top: 10px
  color: #01b79e

.icon-jiesuanqingdan
  font-size: 40px!important
  margin-top: 10px
  color: #fec250

.icon-safe
  font-size: 40px!important
  margin-top: 10px
  color: #eb5d25
.item-border
  border-right: 1px solid #E8E8E8

.click-effect
  background-color: #71c7e0
  color: #ffffff

.customer
  position: fixed
  right: 0
  top: 60%
  background-color: #71c7e0
  text-align: center
  color: #ffffff
  padding: 10px

.icon-qq
  font-size: 30px!important

.customer a
  color: #ffffff
@media (max-width: 1300px)

  .home-bg
    height: 30vh
    padding-top: 10px

  .medel-img
    display: none

  .home-bg .title
    font-size: 20px
    line-height: 1.8

  .go-btn
    font-size: 1.2rem
    padding: 0.3125rem 3.125rem

  .title-content
    position: relative
    top: 50%
    transform: translateY(-50%)

  .mb-menu
    display: flex

@media (max-width: 1025px)
  .medel-img
    width: 50%
    margin-bottom: 2.125rem

@media (max-width: 415px)
  .home-bg .title
    font-size: 20px

  .go-btn
    font-size: 18px
    padding: 5px 25px
