.home-bg
  width: 100%;
  height: 56rem
  background-image: linear-gradient(to bottom, rgba(113, 199, 224, 0.31), #d8777b), url('../../../images/bannerImg.jpeg');
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
