.defense
  background-image: linear-gradient(to bottom, #d3eefb, #ffffff)
  padding: 10.9375rem 3.5625rem

.defense .title
  text-align: center
  font-size: 48px
  position: relative
  z-index: 1

.defense .title:after
  content: ""
  display: block
  margin: 0 auto
  width: 12.5rem
  padding-top: 10px
  border-bottom: 7px solid #71c7e0

.defense-container
  display: flex

.defense-card
  flex: 1
  text-align: center
  border-radius: 7px;
  background-color: #ffffff;
  box-shadow: 0 2px 19px 2px rgba(0, 0, 0, 0.5)
  margin-top: 9.75rem

.defense-card .tags1
  text-align: right
  font-size: 2.5rem
  color: #BDE6F8

.defense-card .tags2
  text-align: right
  font-size: 2.5rem
  color: #fb574d

.defense-card .tags3
  text-align: right
  font-size: 2.5rem
  color: #f5bf39

.defense .enlarge1
  color: #BDE6F8
  font-size: 3.4375rem

.defense .enlarge2
  color: #fb574d
  font-size: 3.4375rem

.defense .enlarge3
  color: #f5bf39
  font-size: 3.4375rem

.defense-text
  font-size: 1.875rem

.defense-card p
  text-align: left
  color: #8a8a8a
  padding: 0 20px
