html
  box-sizing: border-box
  // height: 100%
  font-size: 16px
*
*::after
*::before
  // overflow: hidden
  box-sizing: inherit

body
  margin: 0
  padding: 0
  height: 100%
a
  text-decoration: none
